.url {
  color: var(--color-text-secondary);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.1s;
  font-size: 0.9em;
  font-family: var(--font-gt-america-mono);
  position: relative;
}

.url:hover {
  color: var(--color-text-primary);
}

.tail {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2rem;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  z-index: 10;
}

.urlText {
  white-space: nowrap;
  overflow-x: auto;
  padding-right: 1rem;
}

@media (max-width: 768px) {
  .urlText {
    
  width: calc(100dvw - 2rem);
  }
}
